.logo {
    display: flex;
    position: relative;
    margin-top: 5vh;
    height: 10vh;
    transform: scale(1.2);
}

.navbar{
    position: fixed;
    height: auto !important;
}

.superior{
    position: relative;
    top: 22vh;
    height: 75vh;
}

#carouselExampleCaptions{
    max-width: 600px; 
    margin: auto;
}

@media (max-width:767px){
    .superior{
        margin-top: -8vh;
    }

    .navbar{
        height: 18vh;
    }

    .logo{
        margin-top: 3vh;
    }
}

@media (min-width:768px){
    #carouselExampleCaptions{
        max-width: 200vh; 
    }    

    .carousel-item{
        height: 60vh;
    }
}

.titulo{
    font-size: 1.8rem;
    text-shadow: 0.1em 0.1em 0.05em #1a1919e0;
}

.subtitulo{
    font-size: 1rem;
    color: white;
    text-shadow: 0.1em 0.1em 0.05em #1a1919e0;
}

/* @media (max-width:1517px){
    .titulo{
        display: none;
    }    

    .subtitulo{
        display: none;
    }
} */