.logo {
    display: flex;
    position: relative;
    margin-top: 5vh;
    height: 10vh;
    transform: scale(1.2);
}

header{
    position: fixed;
}

.superior{
    position: relative;
    top: 22vh;
    height: 100vh;
}

@media (max-width:767px){
    .superior{
        margin-top: -8vh;
    }

    header{
        padding: 2vh;
        height: 3vh;
    }

    .logo{
        margin-top: 2vh;
    }
}
